{% extends "base.html" %}
{% block title %} O serwisie {% endblock %}
{% block content %}
    <article class="info info--about">
      <h2 class="info__title">Polska sztuka patriotyczna</h2>
      {% for item in about %}
        <h3 class="info__entry">{{ item.title }}</h3>
        {{ item.description|md_footnotes }}
          {% if item.picture_name %}
              <div class="info__item">
                <img class="info__img" src="{{ url_for('static', filename='assets/images/' + item.picture_name) }}">
                <p class="info__description info__description--img">{{ item.picture_alt }}</p>
              </div>
          {% endif %}
      {% endfor %}
    </article>
{% endblock %}