{% extends "base.html" %}
{% block title %} Wystawa {% endblock %}
{% block content %}
    <section class="artwork">
        <a class="artwork__link" href="{{ url_for('static', filename='assets/images/' + artwork.picture[0].name) }}">
          <img src="{{ url_for('static', filename='assets/images/' + artwork.picture[0].name) }}" class="artwork__image">
        </a>
        <div class="artwork__description">
          <dl class="informations">
            <dt class="informations__title">Tytuł</dt>
            <dd class="informations__definition">{{ artwork.title }}</dd>
            <dt class="informations__title">Autor</dt>
            <dd class="informations__definition">{{ artwork.author }}</dd>
            <dt class="informations__title">Wymiary</dt>
            <dd class="informations__definition">{{ artwork.size }}</dd>
            <dt class="informations__title">Technika</dt>
            <dd class="informations__definition">{{ artwork.technique }}</dd>
            <dt class="informations__title">Opis</dt>
            <dd class="informations__definition">{{ artwork.description|md_footnotes  }}</dd>
            <dt class="informations__title">Rok powstania</dt>
            <dd class="informations__definition">{{ artwork.year }}</dd>
          </dl>


        <div class="rating">
          <div class="rating__average">
            <p class="rating__title">Średnia ocena użytkowników:</p>
            <p class="rating__number"><span class="rating__icon rating__icon--lg">★</span> {{ average_grade }}</p>
          </div>
          {% if g.user.is_authenticated %}
              <div class="rating__add">
                  {% if rated %}
                    <p class="rating__title">Twoja ocena to: <span class="rating__icon rating__icon--sm">★</span>{{ rated_grade }}</p>
                  {% endif %}
                  <form class="rating__scale" method="post" action={{ url_for('grade', artwork_id=artwork_id) }}>
                    <input class="rating__item" type="radio" id="grade_1" name="grade" value="5" />
                      <label class = "rating__label" for="grade_1" title="5 gwiazdek">
                        <span class="icon-star rating__star"></span>
                      </label>
                    <input class="rating__item" type="radio" id="grade_2" name="grade" value="4" />
                    <label class = "rating__label" for="grade_2" title="4 gwiazdki">
                        <span class="icon-star rating__star"></span>
                    </label>
                    <input class="rating__item" type="radio" id="grade_3" name="grade" value="3" />
                      <label class = "rating__label" for="grade_3" title="3 gwiazdki">
                        <span class="icon-star rating__star"></span>
                      </label>
                    <input class="rating__item" type="radio" id="grade_4" name="grade" value="2" />
                      <label class = "rating__label" for="grade_4" title="2 gwiazdki">
                        <span class="icon-star rating__star"></span>
                      </label>
                    <input class="rating__item" type="radio" id="grade_5" name="grade" value="1" />
                    <label class = "rating__label" for="grade_5" title="1 gwiazdka">
                      <span class="icon-star icon-star rating__star"></span>
                    </label>
                    <div class="rating__button">
                      <button class="profile__button profile__button--save" type="submit">{% if not rated %} Oceń {% elif rated %} Oceń ponownie {% endif %}</button>
                    </div>
                  </form>
              </div>
          {% else %}
            <p>Zaloguj się aby móc oceniać i dodawać komentarze</p>
          {% endif %}
      </div>
        {% if g.user.is_authenticated %}
            <div class="favourite">
              {% if favourited %}
                  <span class="favourite__entry">Usuń obiekt z ulubionych</span>
              {% elif not favourited %}
                  <span class="favourite__entry">Dodaj obiekt do ulubionych</span>
              {% endif %}
              <form class="favourite__add" method="post" action={{ url_for('favourite', artwork_id=artwork_id) }}>
                <input class="favourite__item" type="submit" id="favouriteElement" name="favourite" value="1" />
                <label class = "favourite__label {% if favourited %} favourite__label--active {% elif not favourited %} favourite__label--disactive{% endif %}" for="favouriteElement" title="Add to favourites">
                  <span class="favourite__icon icon-heart"></span>
                </label>
              </form>
            </div>
        {% endif %}
      </div>
    </section>
    {% if artwork.detail_1 and artwork.detail_2 %}
        <section class="details">
          <h2 class="details__header">Detale</h2>
          <div class="detail">
            <div class="detail__item">
              <a href="{{ url_for('static', filename='assets/images/' + artwork.picture[1].name) }}" data-rel="lightcase:details" class="detail__link">
                <img src="{{ url_for('static', filename='assets/images/' + artwork.picture[1].name) }}" class="detail__image">
              </a>
            </div>
            <div class="detail__description">
              {{ artwork.detail_1|md_footnotes }}
            </div>
          </div>
          <div class="detail">
            <div class="detail__item">
              <a href="{{ url_for('static', filename='assets/images/' + artwork.picture[2].name) }}" data-rel="lightcase:details" class="detail__link">
                <img src="{{ url_for('static', filename='assets/images/' + artwork.picture[2].name) }}" class="detail__image">
              </a>
            </div>
            <div class="detail__description">
              {{ artwork.detail_2|md_footnotes }}
            </div>
          </div>
        </section>
    {% endif %}
    <div class="return">
      <a href="{{url_for('exhibition', exhibition_id = artwork.exhibition.id)}}" class="return__link">
        <span class="icon-chevron-left return__icon" aria-hidden="true"></span>
        <span class="return__item">Powrót</span>
      </a>
    </div>

    <section class="comments">
      <h2 class="comments__header">Komentarze</h2>
      {% if g.user.is_authenticated %}
        <div class="comments__add">
          <form class="comments__form" method="post" action={{ url_for('comment', artwork_id=artwork_id) }}>
            <textarea class="comments__content" id="content" name="content" placeholder="Podziel się z nami swoją opinią!" ></textarea>
              <button type="submit" class="comments__button">
                <span class="comments__icon icon-plus"></span>
                  Dodaj komentarz
              </button>
          </form>
        </div>
      {% endif %}
        <h3 class="container__header">Dodane</h3>
        <div class="container">
        {% for comment in artwork_comments %}
          <div class="container__comment">
            <div class="container__content">
              <p class="container__text">{{ comment.content }}</p>
            </div>
            <p class="container__item"><a href="{{ url_for('profile', user_id=comment.user.id)}}">{{ comment.user.username }}</a>, {{ comment.date }}</p>
          </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}