{% extends "base.html" %}
{% block title %} Zmiana hasła {% endblock %}
{% block content %}
      <section class="form">
        <div class="form__container">
          <div class="content__profile">
            <div class="content__header">
              <h3 class="content__entry">Zmień hasło</h3>
            </div>
            <div class="profile profile--form">
              <div class="profile__header">
                <span class="profile__icon profile__icon--bg icon-user" aria-hidden="true"></span>
                <p class="profile__username">{{ g.user.username }}</p>
              </div>
            </div>

            <form method="post" class="profile" action="{{ url_for('change') }}">
              <div class="profile__informations profile__informations--input">
                <label for="old_password" class="profile__item profile__item--label">Stare hasło
                {% if error and error['password-not-match'] %}<span class="error">{{ error['password-not-match'] }}</span>{% endif %}</label>
                <div class="profile__area profile__area--form">
                  <span class="profile__icon profile__icon--sm icon-lock"></span>
                  <input class="profile__data profile__data--input" type="password" id="old_password" name="old_password">
                </div>

                <label for="new_password_1" class="profile__item profile__item--label">Nowe hasło</label>
                <div class="profile__area profile__area--form">
                  <span class="profile__icon profile__icon--sm icon-lock"></span>
                  <input class="profile__data profile__data--input" type="password" id="new_password_1" name="new_password_1">
                </div>

                <label for="new_password_2" class="profile__item profile__item--label">Powtórz hasło
                {% if error and error['password-different'] %}<span class="error">{{ error['password-different'] }}</span>{% endif %}
                </label>
                <div class="profile__area profile__area--form">
                  <span class="profile__icon profile__icon--sm icon-lock"></span>
                  <input class="profile__data profile__data--input" type="password" id="new_password_2" name="new_password_2">
                </div>
              </div>
              <div class="profile__buttons">
                <a class="profile__button profile__button--return" href="{{ url_for('profile', user_id=g.user.id) }}">
                  <span class="icon-rotate-ccw profile__icon profile__icon--button"></span> Powrót</a>
                <input class="profile__button profile__button--save" type="submit" value="Zapisz zmiany">
              </div>
            </form>
          </div>
        </div>
      </section>
{% endblock %}