{% extends "base.html" %}
{% block title %} Profil {% endblock %}
{% block content %}
    <section class="center">
      <div class="center__container">
        <div class="content__profile">
          <div class="content__header">
            <h3 class="content__entry">Usuń konto</h3>
          </div>
          <div class="profile profile--form">
            <div class="profile__header">
              <span class="profile__icon profile__icon--bg icon-user" aria-hidden="true"></span>
              <p class="profile__username">jlegutko</p>
            </div>
          </div>
          <p class="profile__delete"> Czy na pewno chcesz usunąć swoje konto? </p>
          <form method="post" class="profile" action="{{ url_for('delete_profile') }}">
            <div class="profile__buttons">
              <a class="profile__button profile__button--information" href="index.html">
                <span class="icon-rotate-ccw profile__icon profile__icon--button"></span> Powrót</a>
    			      <input class="profile__button" type="submit" value="Usuń">
            </div>
          </form>
        </div>
      </div>
    </section>
{% endblock %}
