{% extends "base.html" %}
{% block title %} Strona główna {% endblock %}
{% block content %}
    <section class="year">
        <nav class="years">
            <ul class="years__menu">
                {% for exhibition in exhibitions %}
                    <li class="years__item">
                        <a href="#year{{ exhibition.year }}" class="years__link">
                            <span class="years__date">{{ exhibition.year }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        {% for exhibition in exhibitions %}
            <section class="year__item year__item--{{ exhibition.year }}" id="year{{ exhibition.year }}">
                <div class="year__info">
                    <ul class="showcase" id="showcase1">
                    {% for artwork in artworks %}
                        {% if artwork.exhibition == exhibition and loop.index<6 %}
                            <li class="showcase__item showcase__item{% if loop.index==1 %}--lg{% elif loop.index==2 or loop.index==3 %}--md{% elif loop.index==4 or loop.index==5 %}--sm{% endif %}">
                                <a href="" class="showcase__link">
                                    <img src="{{ url_for('static', filename='assets/images/' + artwork.picture[0].name) }}" class="showcase__img">
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <a href="{{url_for('exhibition', exhibition_id = exhibition.id)}}" class="description" title="Przejdź do sekcji">
                        <h2 class="description__title">{{ exhibition.title }}</h2>
                        <p class="description__content">{{ exhibition.description }}</p>
                        <span class="description--icon icon-chevrons-right" aria-hidden="true"></span>
                        <span class="visuallyhidden">Przejdź do sekcji</span>
                    </a>
                </div>
            </section>
        {% endfor %}
    </section>
{% endblock %}

