{% extends "base.html" %}
{% block title %} Strona główna {% endblock %}
{% block content %}

    <section class="year">
        <nav class="years">
            <ul class="years__menu">
                {% for exhibition in exhibitions %}
                    <li class="years__item">
                        <a href="#year{{ exhibition.year }}" class="years__link">
                            <span class="years__date">{{ exhibition.year }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        {% for exhibition in exhibitions %}
            {% set item=[0] %}
            <section class="year__item year__item--{{ exhibition.year }}" id="year{{ exhibition.year }}">
                <div class="year__info">
                    <ul class="showcase" id="showcase{{ loop.index }}">
                        {% for artwork in artworks %}
                            {% if artwork.exhibition == exhibition and item[0]<5 %}
                                {% if item.append(item.pop() + 1) %}{% endif %}
                                    <li class="showcase__item showcase__item{% if item[0]==1 %}--lg{% elif item[0]==2 or item[0]==3 %}--md{% elif item[0]==4 or item[0]==5 %}--sm{% endif %}">
                                        <a href="{{url_for('artwork', artwork_id = artwork.id)}}" class="showcase__link">
                                            <img src="{{ url_for('static', filename='assets/images/' + artwork.picture[0].name) }}" class="showcase__img">
                                        </a>
                                    </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <a href="{{url_for('exhibition', exhibition_id = exhibition.id)}}" class="description" title="Przejdź do sekcji">
                        <h2 class="description__title">{{ exhibition.title }}</h2>
                        <div class="description__content">{% set list = exhibition.description %} {{ exhibition.short_description|md_footnotes }}</div>
                        <span class="description--icon icon-chevrons-right" aria-hidden="true"></span>
                        <span class="visuallyhidden">Przejdź do sekcji</span>
                    </a>
                    {% if loop.index == 1 %}
                        <section class="identification">
                            <h1 class="identification__name">Sztuka biało-czerwona</h1>
                        </section>
                    {% endif %}
                </div>
            </section>
        {% endfor %}
    </section>
{% endblock %}

