{% extends "base.html" %}
{% block title %} Logowanie {% endblock %}
{% block content %}
      <section class="form">
        <div class="form__container">
          <div class="content__header">
            <h3 class="content__entry" id="profile">Logowanie</h3>
          </div>  
          <form method="post" class="profile" action="{{ url_for('login') }}">

            <div class="profile__informations profile__informations--form">
              <label for="username" class="profile__item profile__item--label">Login</label>
              <div class="profile__area profile__area--form">
                <span class="profile__icon profile__icon--sm icon-user"></span>
                <input class="profile__data profile__data--input" type="text" id="username" name="username" placeholder="login" required>
              </div>

              <label for="password" class="profile__item profile__item--label">Hasło</label>
              <div class="profile__area profile__area--form">
                <span class="profile__icon profile__icon--sm icon-lock"></span>
                <input class="profile__data profile__data--input" type="password" id="password" name="password" placeholder="hasło" required>
              </div>

            </div>
  			      <input class="profile__button profile__button--register" type="submit" value="Zaloguj się">
          </form>

        </div>
      </section>

    </section>
{% endblock %}
