{% extends "base.html" %}
{% block title %} Profil {% endblock %}
{% block content %}
    <section class="center center--profile">
    {% if g.user.id == user_id %}
      <nav class="panel">
        <div class="panel__menu">
          <ul class="user">
            <a href="#profile" class="user__link">
              <li class="user__item user__item">
                <span class="user__icon icon-user" aria-hidden="true"></span>
                Mój profil
              </li>
            </a>
            <a href="#favourites" class="user__link">
              <li class="user__item user__item">
                <span class="user__icon icon-heart" aria-hidden="true"></span>
                Ulubione
              </li>
            </a>
            <a href="#rating" class="user__link">
              <li class="user__item user__item">
                <span class="user__icon icon-star" aria-hidden="true"></span>
                Ocenione
              </li>
            </a>
          </ul>
        </div>
      </nav>
    {% endif %}

      <section class="content">
        <div class="content__profile">
          <div class="content__header" id="profile">
            <h3 class="content__entry">Profil</h3>
            {% if g.user.id == user_id %}
                <ul class="content__options">
                  <li class="content__item">
                    <a href="{{url_for('edit')}}" class="content__link">
                      <span class="content__icon icon-edit" aria-hidden="true"></span>Edytuj dane
                    </a>
                  </li>
                  <li class="content__item">
                    <a href="{{url_for('change')}}" class="content__link">
                      <span class="content__icon icon-lock" aria-hidden="true"></span>Zmień hasło
                    </a>
                  </li>
                  <li class="content__item">
                    <a href="{{url_for('delete_profile')}}" class="content__link">
                      <span class="content__icon icon-user-x" aria-hidden="true"></span>Usuń konto
                    </a>
                  </li>
                </ul>
            {% endif %}
          </div>
          <div class="profile">
            <div class="profile__header">
              <span class="profile__icon profile__icon--bg icon-user" aria-hidden="true"></span>
              <p class="profile__username">{{ user.username }}</p>
            </div>
            <dl class="profile__informations">
              <dt class="profile__item">Imię i nazwisko</dt>
              <dd class="profile__area">
                <span class="profile__icon profile__icon--sm icon-user"></span>
                <p class="profile__data">{{ profile.name }} {{ profile.surname }}</p>
              </dd>
              <dt class="profile__item">E-mail</dt>
              <dd class="profile__area">
                <span class="profile__icon profile__icon--sm icon-mail"></span>
                <p class="profile__data">{{ profile.email }}</p>
              </dd>
              <dt class="profile__item">Telefon</dt>
              <dd class="profile__area">
                <span class="profile__icon profile__icon--sm icon-phone"></span>
                <p class="profile__data">{{ profile.phone }}</p>
              </dd>
            </dl>
          </div>
        </div>

        <div class="content__favourite">
          <div class="content__header" id="favourites">
            <h3 class="content__entry">Ulubione</h3>
          </div>
          <div class="favourites">
              {% for favourite in favourites %}
                  <a href="{{ url_for('artwork', artwork_id = favourite.artwork.id) }}" class="favourites__link">
                    <div class="favourites__item">
                      <span class="favourites__icon icon-heart"></span>
                      <img src="{{ url_for('static', filename='assets/images/' + favourite.artwork.picture[0].name) }}" class="favourites__image">
                    </div>
                  </a>
              {% endfor %}
          </div>
        </div>

        <div class="content__rating">
          <div class="content__header" id="rating">
            <h3 class="content__entry">Ocenione</h3>
          </div>
          <div class="ratings">
            <ul class="gallery">
            {% for grade in grades %}
              <li class="gallery__item">
                <a href="{{ url_for('artwork', artwork_id = grade.artwork.id) }}" class="gallery__link">
                  <img src="{{ url_for('static', filename='assets/images/' + grade.artwork.picture[0].name) }}" class="gallery__img">
                </a>
                <div class="ratings__stars">
                  {% set star = '<span class="ratings__icon icon-star"></span>' %}
                  <span class="visuallyhidden">Ocena: {{ grade.grade }}</span>
                  {{ star|safe * grade.grade }}
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </section>

    </section>
{% endblock %}

