{% extends "base.html" %}
{% block title %} Rejestracja {% endblock %}
{% block content %}
      <section class="form">
        <div class="form__container">
          <div class="content__header">
            <h3 class="content__entry" id="profile">Rejestracja</h3>
          </div>  
          <form method="post" class="profile" action="{{ url_for('register') }}">

            <div class="profile__informations profile__informations--form">
              <label for="username" class="profile__item profile__item--label">
                  Login
              {% if error and error['username-taken'] %}<span class="error">{{ error['username-taken'] }}</span>{% endif %}
              </label>
              <div class="profile__area profile__area--form">
                <span class="profile__icon profile__icon--sm icon-user"></span>
                <input class="profile__data profile__data--input" type="text" id="username" name="username" placeholder="login"
                       value="{{ request.form['username'] }}" required>
              </div>

              <label for="name" class="profile__item profile__item--label">Imię</label>
              <div class="profile__area profile__area--form">
                <span class="profile__icon profile__icon--sm icon-user"></span>
                <input class="profile__data profile__data--input" type="text" id="name" name="name" placeholder="imię"
                       value="{{ request.form['name'] }}" required>
              </div>

              <label for="surname" class="profile__item profile__item--label">Nazwisko</label>
              <div class="profile__area profile__area--form">
                <span class="profile__icon profile__icon--sm icon-user"></span>
                <input class="profile__data profile__data--input" type="text" id="surname" name="surname" placeholder="nazwisko"
                       value="{{ request.form['surname'] }}" required>
              </div>

              <label for="email" class="profile__item profile__item--label">E-mail</label>
              <div class="profile__area profile__area--form">
                <span class="profile__icon profile__icon--sm icon-mail"></span>
                <input class="profile__data profile__data--input" type="text" id="email" name="email" placeholder="e-mail"
                       value="{{ request.form['email'] }}" required>
              </div>

              <label for="phone" class="profile__item profile__item--label">Telefon</label>
              <div class="profile__area profile__area--form">
                <span class="profile__icon profile__icon--sm icon-phone"></span>
                <input class="profile__data profile__data--input" type="tel" id="phone" name="phone" placeholder="telefon"
                       value="{{ request.form['phone'] }}" required>
              </div>

              <label for="password" class="profile__item profile__item--label">
                  Hasło
              {% if error and error['password-short'] %}<span class="error">{{ error['password-short'] }}</span>{% endif %}
              </label>
              <div class="profile__area profile__area--form">
                <span class="profile__icon profile__icon--sm icon-lock"></span>
                <input class="profile__data profile__data--input" type="password" id="password" name="password" placeholder="hasło" minlength="6" required>
              </div>

              <label for="password" class="profile__item profile__item--label">
                  Powtórz hasło
              {% if error and error['password-different'] %}<span class="error">{{ error['password-different'] }}</span>{% endif %}
              </label>
              <div class="profile__area profile__area--form">
                <span class="profile__icon profile__icon--sm icon-lock"></span>
                <input class="profile__data profile__data--input" type="password" id="repeat-password" name="repeat-password" placeholder="powtórz hasło" minlength="6" required>
              </div>
            </div>
  			      <input class="profile__button profile__button--register" type="submit" value="Rejestracja">
          </form>

        </div>
      </section>

    </section>
{% endblock %}
